/* --------- Global style */
body {
    font-family: Mochiy Pop P One, sans-serif;
    background: #D3D3D3;
    height: 800px;
    text-align: center;
    
}

/* --------- Heading & Logo*/

.logo {
    height: 10rem;
    width: 20rem;
    padding: 1rem;  
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}


/* --------- Game layout */

.question-area {
    background-color: #6e90a2;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 250px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.controls-area {
    background-color: #8b8680;
    box-sizing: border-box;
    height: 450px;
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}